.about{

    width: fit-content;
    border-radius: 20px;
    background-color: rgb(104, 97, 103);
    opacity: 0.8;
    margin-top: 120px;
    margin-left: 200px;
    
}

.h2about {
    color: aliceblue;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.pabout{
    color: aliceblue;
    text-align: center;
    font-family: 'Roboto', sans-serif;
   
}