.card{
    background-color: rgb(65, 24, 65);
    width: fit-content;
    margin: 0 auto;
    border-radius: 1rem;
    border: 2px solid rgb(214, 11, 255);
}
.lola{
    margin:0 auto;
}
.h3card{
    color: antiquewhite;
    border: 2px solid white;
    border-radius: 2rem;
    margin: 0 auto; 
    width: fit-content;
    padding: 0.5em 1em;
}
.h32{
    color: antiquewhite;
    border: 2px solid white;
    border-radius: 2rem;
    margin: 0 auto; 
    width: fit-content;
    padding: 0.5em 1em;
}
.h33{
    color: antiquewhite;
    border: 2px solid white;
    border-radius: 2rem;
    margin: 0 auto; 
    width: fit-content;
    padding: 0.5em 1em;
}
.h34{
    color: antiquewhite;
    border: 2px solid white;
    border-radius: 2rem;
    margin: 0 auto; 
    width: fit-content;
    padding: 0.5em 1em;
}
.h35{
    color: antiquewhite;
    border: 2px solid white;
    border-radius: 2rem;
    margin: 0 auto; 
    width: fit-content;
    padding: 0.5em 1em;
}
.imagencard{
    border-radius: 20rem;
}