.card{
    width: max-content;
    margin: 0 auto;
    border-radius: 1rem;
    border: 9px solid rgb(0, 0, 0);
    margin-top: 100px;
}
.lola{
    margin:0 auto;
}
.h3card{
    color: antiquewhite;
    margin: 0 auto; 
    width: fit-content;
    padding: 0.5em 1em;
}
.h32{
    color: antiquewhite;
    margin: 0 auto; 
    width: fit-content;
    padding: 0.5em 1em;
}
.h33{
    color: antiquewhite;
    margin: 0 auto; 
    width: fit-content;
    padding: 0.5em 1em;
}
.h34{
    color: antiquewhite;
    margin: 0 auto; 
    width: fit-content;
    padding: 0.5em 1em;
}
.h35{
    color: antiquewhite;
    margin: 0 auto; 
    text-align: center;
   margin-top: -35px;
}
.imagencard{
    border-radius: 20rem;
}