.divdetail{
    border: 2px solid rgb(234, 0, 255);
   width: fit-content;
  border-radius: 1rem;
  font-family:'Bad Script', cursive;
  background-image: url(ass/wp3284832.webp);
}
.h3d{
    border: 2px solid rgb(234, 0, 255);
    border-radius: 2rem;
    padding: 0.5em 1em;
    width: fit-content;
    background-image: url(ass/th.jpg);
    background-position: center;
    color: black;
}
.h32d{
    border: 2px solid rgb(234, 0, 255);
    border-radius: 2rem;
    padding: 0.5em 1em;
    width: fit-content;
    background-image: url(ass/th.jpg);
    background-position: center
}
.h33d{
    border: 2px solid rgb(234, 0, 255);
    border-radius: 2rem;
    padding: 0.5em 1em;
    width: fit-content;
    background-image: url(ass/th.jpg);
    background-position: center
}
.h34d{
    border: 2px solid rgb(234, 0, 255);
    border-radius: 2rem;
    padding: 0.5em 1em;
    width: fit-content;
    background-image: url(ass/th.jpg);
    background-position: center
}
.h35d{
    border: 2px solid rgb(234, 0, 255);
    border-radius: 2rem;
    padding: 0.5em 1em;
    width: fit-content;
    background-image: url(ass/th.jpg);
    background-position: center
}
.h1d{
    border: 2px solid rgb(234, 0, 255);
    border-radius: 2rem;
    padding: 0.5em 1em;
    width: fit-content;
    background-image: url(ass/th.jpg);
    background-position: center;
}
.imagend{
    border-radius: 20rem;
}
