.button1{
  font-family: 'Roboto', sans-serif;
    background-color:rgb(88, 85, 88);
    color: white;
    padding: 0.5em 1em;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 0.5rem;
}
.button2{
  font-family: 'Roboto', sans-serif;
    background-color: rgb(88, 85, 88);
    color: white;
    padding: 0.5em 1em;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 0.5rem;
}
.boton1{
 float: right;
 margin-right: 300px;
margin-top: 30px;
}

.boton2{
  float: right;
  margin-top: 30px;
  margin-right: 600px;
}

