.button1{
    font-family: 'Bad Script', cursive;
    background-color: rgb(243, 34, 226);
    color: white;
    padding: 0.5em 1em;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 0.5rem;
}

.button2{
    font-family: 'Bad Script', cursive;
    background-color: rgb(243, 34, 226);
    color: white;
    padding: 0.5em 1em;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 0.5rem;
}
.divnav{
    text-align: center;
}
.searchbar{
    background-color: rgb(15, 255, 15);
}
.buttons{
    background-color: rgb(15, 255, 15) ;
}